/*Start Global rules*/
body {
    font-family: 'Roboto', sans-serif;
}


:root{
    --main_color :#2196f3 ;
    --main_color_alt :#1787e0 ;
    --margins : 60px
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.2);
    z-index: -1;
}


@media (min-width : 768px){
    .container{
        width: 750px;
    }
}

@media (min-width : 992px){
    .container{
        width: 1970px;
    }
}

@media (min-width : 1200px){
    .container{
        width: 1170px;
    }
}


img{
    width: 100%;
    height: 220px;
}

/*End Global rules*/



/*Start Header*/

header{
    background-color: #0dcaf0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

header .container{
    display: flex;
    align-items: center;
    position: relative;
    
}

header .container .icon {
    color: black;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 7px;
    cursor: pointer;
    display: none;
    
}


header .container a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}


header .container .focus{
    position: absolute;
    width: 100% ;
    height: 0px;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    background-color: #0dcaf0;
    top: 100%;
   transition: height 0.3s;
}

header .container .focus .foc-ul{
   
    flex-direction: column;
    margin-left: 15px;
    display: none;
    display: flex;
    height: 100%;
    justify-content: center;
    visibility: hidden;
    padding-bottom: 12px;
    padding-top: 12px;

}

header .container .focus .foc-ul .li-a{
    color: black;
    height: 0;
}


.container ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  
    text-decoration: none;
    font-weight: bold;
}

.container ul{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 30px;
    font-size: 15px;
}

.container ul li,
.container a{
    display: flex;
    height: 74px;
    align-items: center;
}





@media (max-width: 424px) {
    header .container .icon {
        position: absolute;
        right: 15px;
        display: flex;
        cursor: pointer;
        padding: 17px;
    }

    header .container .icon{
        font-size: 21px;
    }

    header .container ul {
        display: none;
    }
}
/*End Header*/


/*Start Label*/

.category{
    margin-top: 100px;
}

.category label{
    display: block;
    margin-bottom: 7px;
}

.category select{
    width: 280px;
    height: 30px;
    border-radius: 4px;
    border:1px solid #ced4da ;
    font-size: 15px;
}

/*End Label*/


/*Start items*/

.items{
    margin-top: 135px;
}


.items .box{
    border-radius: 10px;
    box-shadow: 0 2px 5px #ca2510;
    width: 271px;
    padding: 15px;
    height: 640px;
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ;
}

.items .box .text h5{
    padding: 5px 15px;
    background-color: #eee;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    overflow: hidden;
    padding-bottom: 37px;
}

.items .box .text h5+p{
    margin: 15px 0;
    font-size: 15px;
    height: 118px;
    margin: 0;
    line-height: 1.6;

}

.items .price{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    
}

 .price p{
    margin: 0;
    background-color: #f1b4b4;
    padding: 3px 7px;
    border-radius: 30px;
    font-weight: bold;

 }

 button{
    background-color: #198754;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
    text-transform: capitalize;
 }

 .box:hover{
    transform: translateY(-18px);
 }

/*end items*/

@media (max-width : 1000px)
{
    .items .row{
        justify-content: center;
    }
    .items .container .row.mt-5{
        margin-top: 25px !important;
    }
  
}

@media (max-width : 424px)
{
    .category{
        margin-top: 200px;
    }

    
}

@media (min-width : 1001px)
{
    .items .row{
        justify-content: center;
    }
}